{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
  
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>House</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </head>
  <style>
      body{
        font-family:cursive;
      }
  </style>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src="https://png.pngtree.com/element_our/md/20180627/md_5b334611860fa.jpg" style="width:30x;height:30px"></a>
          <a class="navbar-brand" href="{{ url_for('index') }}">Scheduler</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <script>
              var isVacc = {{vaccinationStatus | tojson}};
              if (isVacc==0) {
                document.write("<li><a href='{{ url_for('covid_verify') }}'>Covid Verification</a></li>");
              }
            </script>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container"></div>
    <p style="display:flex;justify-content:end;color:white">
      Hi, {{name}}
    </p>
    <br><br>
    <!-- <p>{{timeTable}}</p> -->
    {% with messages = get_flashed_messages() %} 
      {% if messages %}
        {% for message in messages %}
          <div style="display: flex;justify-content: center;">
            <div class="alert" style="width:70%;">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
              {{message}}
            </div>
          </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
  
    <script>
      var timeTable = {{timeTable | tojson}};
      var alreadyFilled= Boolean({{alreadyFilled}});
      if(alreadyFilled==true){
        // document.write('<div class="alert"> <span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span> You have already filled your preferences.</div>');
        if(timeTable.length<1){
          document.write('<img src="https://st2.depositphotos.com/5312214/9984/i/950/depositphotos_99846810-stock-photo-no-class-tomorrow-adhesive-label.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"><br>');
        }
        for(i=0;i<timeTable.length;i++){
          var isAMorPM = "AM";
          if(timeTable[i]['timeSlot']>=8 && timeTable[i]['timeSlot']<12){
            isAMorPM = "AM";
          }else if(timeTable[i]['timeSlot']<=6 || timeTable[i]['timeSlot']==12){
            isAMorPM = "PM";
          }
          var nextDigitAMorPM = "AM";
          if(timeTable[i]['timeSlot']+1>=8 && timeTable[i]['timeSlot']+1<12){
            nextDigitAMorPM = "AM";
          }else if(timeTable[i]['timeSlot']+1<=6 || timeTable[i]['timeSlot']+1==12){
            nextDigitAMorPM = "PM";
          }
          document.write('<div style="display: flex;flex-direction:col;justify-content: center;width=40%"><div class="card" style="width:40%">');
          document.write(timeTable[i]['class_name']+'<br>('+timeTable[i]['class_code']+')<br> Time:'+timeTable[i]['timeSlot']+' '+isAMorPM+'-'+(timeTable[i]['timeSlot']+1)+' '+nextDigitAMorPM+'<br></div></div><br>');
        }
      }else{
        if(timeTable.length<1){
          document.write('<img src="https://st2.depositphotos.com/5312214/9984/i/950/depositphotos_99846810-stock-photo-no-class-tomorrow-adhesive-label.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"><br>');
        }
        document.write('<form action="#" method="POST" >');
        for(i=0;i<timeTable.length;i++){
          document.write('<div style="display: flex;flex-direction:row;justify-content: center"><div class="card" style="width:40%">');
          var isAMorPM = "AM";
          if(timeTable[i]['timeSlot']>=8 && timeTable[i]['timeSlot']<12){
            isAMorPM = "AM";
          }else if(timeTable[i]['timeSlot']<=6 || timeTable[i]['timeSlot']==12){
            isAMorPM = "PM";
          }
          var nextDigitAMorPM = "AM";
          if(timeTable[i]['timeSlot']+1>=8 && timeTable[i]['timeSlot']+1<12){
            nextDigitAMorPM = "AM";
          }else if(timeTable[i]['timeSlot']+1<=6 && timeTable[i]['timeSlot']+1==12){
            nextDigitAMorPM = "PM";
          }
          document.write(timeTable[i]['class_name']+'<br>('+timeTable[i]['class_code']+')<br> Time:'+timeTable[i]['timeSlot']+' '+isAMorPM+'-'+(timeTable[i]['timeSlot']+1)+' '+nextDigitAMorPM+'<br></div><br>');
          document.write('<div class="custom-select" style="width:200px;position: relative;left:2%"><select name="preference[]"><option value="online">Select preference:</option><option value="online">Online</option><option value="offline">Offline</option></select></div></div><br> <br>')
        }
        document.write('<div style="display: flex;justify-content: center;align-items: center;height: 200px;"><button class="button" type="submit"> Submit Preferences </button></div>');
        document.write('</form>');
      }
    </script>
      
    
    
    </body>
    <script>
      var x, i, j, l, ll, selElmnt, a, b, c;
      /*look for any elements with the class "custom-select":*/
      x = document.getElementsByClassName("custom-select");
      l = x.length;
      for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
          /*for each option in the original select element,
          create a new DIV that will act as an option item:*/
          c = document.createElement("DIV");
          c.innerHTML = selElmnt.options[j].innerHTML;
          c.addEventListener("click", function(e) {
              /*when an item is clicked, update the original select box,
              and the selected item:*/
              var y, i, k, s, h, sl, yl;
              s = this.parentNode.parentNode.getElementsByTagName("select")[0];
              sl = s.length;
              h = this.parentNode.previousSibling;
              for (i = 0; i < sl; i++) {
                if (s.options[i].innerHTML == this.innerHTML) {
                  s.selectedIndex = i;
                  h.innerHTML = this.innerHTML;
                  y = this.parentNode.getElementsByClassName("same-as-selected");
                  yl = y.length;
                  for (k = 0; k < yl; k++) {
                    y[k].removeAttribute("class");
                  }
                  this.setAttribute("class", "same-as-selected");
                  break;
                }
              }
              h.click();
          });
          b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function(e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
          });
      }
      function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
          if (elmnt == y[i]) {
            arrNo.push(i)
          } else {
            y[i].classList.remove("select-arrow-active");
          }
        }
        for (i = 0; i < xl; i++) {
          if (arrNo.indexOf(i)) {
            x[i].classList.add("select-hide");
          }
        }
      }
      /*if the user clicks anywhere outside the select box,
      then close all select boxes:*/
      document.addEventListener("click", closeAllSelect);
  </script>
</html>    
{% endblock %}